.register{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(to bottom,rgba(92, 47, 255, 0.4),rgba(54, 148, 255, 0.7));
    background-position: center;
    background-size: cover;
    transition: all 0.3s ease;
}
.registerTitle{
    text-align: center;
    font-weight: 600;
    color:white;
}
.registerForm{
    width: 350px;
    height: 350px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(92, 47, 255, 0.6);
    transition: all 0.3s ease;
}
.registerForm .icon{
    background-color: white;
    color: rgba(54, 148, 255, 0.7);
    padding: 10px;
    min-width: 50px;
    text-align: center;
}
.input-field-reg{
   padding: 10px;
   width: 100%;
   outline: none;
   border: 2px solid white;
}
.input-field-reg:focus{
    border: 2px solid white;
}
.inputDivReg{
    width: 80%;
    display: flex;
    
    margin-bottom: 15px;
}
.registerBtn {
    padding: 10px;
    margin-top: 10px;
    background: linear-gradient(to bottom,rgba(92, 47, 255, 0.4),rgba(54, 148, 255, 0.7));
    box-shadow: 0px 0px 10px 1px white;
    color: white;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    width: 80%;
}
.registerBtn:hover{
    opacity: 1;
    background: linear-gradient(to bottom,rgba(92, 47, 255, 0.9),rgba(54, 148, 255, 0.9));
}
span, a{
    padding-top: 10px;
}
a{
    color: white;
   font-weight: 900;
}

@media screen and (max-width:575px) {
    .registerForm{
        margin: 15px;
        width: 300px;
        height: 325px;
        
    }
    .inputDivReg{
        height: 35px;
    }
}
@media screen and (max-height:500px) {
    .register{
        height: auto;
    }
}